<section class="esh-catalog">
  <div class="container">

  </div>
</section>
 <section class="esh-catalog-filters">
  <div class="container">
    <div class="alert alert-warning esh-catalog-alert" role="alert" [hidden]="!errorRecieved">
      Error requesting
    </div>
    <label data-title="brand" class="esh-catalog-label">
      <select class="esh-catalog-filter" (change)="onBrandFilterChanged($event, $event.target.value)">
        <option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</option>
      </select>
    </label>
    <label class="esh-catalog-label" data-title="category">
      <select class="esh-catalog-filter" (change)="onCategoryFilterChanged($event, $event.target.value)">
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
    </label>
    <!-- <img src="/assets/images/arrow-right.svg" class="esh-catalog-send" (click)="onFilterApplied($event)"> -->
    <a href="#">
    <fa-icon icon="chevron-down" (click)="onFilterApplied($event)" ></fa-icon>
    </a>
  </div>
</section>

<div class="container">
  <div *ngIf="catalog?.data.length > 0">
    <app-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></app-pager>

    <div class="esh-catalog-items row">
      <div class="esh-catalog-item col-md-4"
        *ngFor="let product of catalog?.data">
        <img src="{{product.skus[0].images[0].url}}" class="esh-catalog-thumnail" />
        <button [ngClass]="{'esh-catalog-button': true, 'is-disabled': !authenticated}" >
          [ADD TO CART]
        </button>
        <div class="esh-catalog-name">
          <span>{{product.productName}}</span>
        </div>
        <div class="esh-catalog-price">
          <span>{{product.skus[0].price | number:'.2-2'}}</span>
        </div>
      </div>
    </div>
  <app-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></app-pager>
  </div>
  <div *ngIf="catalog?.data.length == 0">
    <span>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</span>
  </div>
</div>
