@import '../../../variable';
.esh-identity {
    display: flex;
    padding: 10px 0;
}

.esh-identity-unauthenticate {
    display: flex;
}

.identity-content-block {
    display: flex;
    cursor: pointer;
    color: $color-foreground-dark;
}

.esh-identity-name {
    margin: 0 10px;
}